<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
<script type="text/javascript" src="jquery/jquery.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="stylesheets/style.css"></script>
<body class="teal">
<div class="container teal">
    <div class='card-panel z-depth-5'>
    <h1 id='title' class="header ">URL Shortener Microservice</h1>
    <br>
    <form id="form">
        <div class="input-field">
        <label>Enter URL to shorten</label>
        <input name="url" type='text' placeholder='Enter Url'>
        </div>
        <button id="submit" type="submit" class='btn'>Submit</button>
    </form>
    <div id="result" class="card-panel">
        <h5>Shortened URL</h5>
        <p id="shortUrl"></p>
    </div>
    <div id="jsonDiv" class="card-panel">
        <h5>JSON File</h5>
        <code id="jsonText"></code>
    </div>
    <blockquote>
        <p>User stories:</p>
        <ul>
            <li>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</li>
            <li>When I visit that shortened URL, it will redirect me to my original link.</li>
            <li>Note: URL should not have 'https://' or 'http://' or '/' as the bug have not been fixed</li>
        </ul>
    </blockquote>
    <h4>Example creation usage:</h4>
    <code>{{url}}/api/new/www.google.com</code>
    <br><code>{{url}}/api/new/www.foo.com:80</code>
    <h4>Example creation output</h4>
    <code>{
        "_id":"1",
        "url":"www.foo.com:80",
        "shortUrl":"{{url}}/1"
        }
    </code>
    <h4>Usage:</h4>
    <code>{{url}}/1</code>
    <h4>Will redirect to:</h4>
    <code>www.foo.com:80</code>
    </div>
</div>
</body>
<script src='javascripts/index.js'></script>
